body {
    background-color: #444444;
    padding: 20px;
}

/* GRID LAYOUT  */
/* ------------ */

.layout {
    width: 100%
}

#gui {
    background-color: #181818;
    width: 40%;
    float: left;
}

#cli {
    background-color: #000000;
    width: 60%;
    float: right;
}

.cli-body {
    padding: 50px;
    color: white;
    font-family: Consolas, monospace;
    font-size: large;
}