body {
    background-color: #444444;
    padding: 20px;
}

/* GRID LAYOUT  */
/* ------------ */

.layout {
    display: flex;
    flex-wrap: wrap;
}

* {
    box-sizing: border-box;
}

#gui {
    min-height: 100px;
    text-align: center;
    line-height: 100px;
    background-color: #eed488;
    flex: 40%;
}

#cli {
    min-height: 100px;
    text-align: center;
    line-height: 100px;
    background-color: #bfbfbf;
    flex: 60%;
}