body {
    background-color: #444444;
    padding: 20px;
}

/* GRID LAYOUT  */
/* ------------ */

.layout {
    display: flex;
    flex-wrap: wrap;
}

* {
    box-sizing: border-box;
}

#gui {
    background-color: #181818;
    flex: 45%;
}

#cli {
    background-color: #000000;
    flex: 53%;
}

.cli-body {
    padding: 50px;
    color: white;
    font-family: Consolas, monospace;
    font-size: large;
}